<h3 class="text-center text-success"><%= t(".header") %></h3>

<ul class="main-list">
  <% @completed.map(&:course).each do |course| %>
    <li>
      <%= link_to course do %>
        <h4><%= truncate(course.title, length: 100)%></h4>
      <% end %>

      <%= link_to watch_course_path(course), title: t(".watch"), class: "btn btn-default" do %>
        <%= fa_icon "eye" %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= paginate @completed, param_name: "c_page", remote: true %>