<%= render "shared/video", video: chapter.video %>

<h3 class="text-center text-info">
  <%= link_to watch_course_path(id: @course.id, c: chapter.previous.id), remote: true, id: "prev-chapter" do %>
    <%= fa_icon "arrow-circle-left" %>
  <% end if chapter.previous %>

  <%= chapter %>

  <%= link_to watch_course_path(id: @course.id, c: chapter.next.id), remote: true,
              id: "next-chapter", class: ("hide" if cannot?(:watch, chapter.next)) do %>
    <%= fa_icon "arrow-circle-right" %>
  <% end if chapter.next %>
</h3>
