<h3 class="text-center text-danger"><%= t(".header") %></h3>

<ul class="main-list">
  <% @incomplete.each do |enrolment| %>
    <li>
      <%= link_to watch_course_path(enrolment.course) do %>
        <h4><%= truncate(enrolment.course.title, length: 100) %></h4>
        <small class="text-muted">
          <%= t(".completeness", done: enrolment.progress, total: enrolment.course.course_chapters.count) %>
        </small>
      <% end %>
    </li>
  <% end %>
</ul>

<%= paginate @incomplete, param_name: "i_page", remote: true %>
