<% if current_user.enrolments.empty? %>
  <h3 class="text-center text-muted">
    <%= t(".no_enrolments") %>
  </h3>
<% else %>
  <% if @incomplete.present? %>
    <div id="incomplete-courses" class="<%= "col-lg-6" if @completed.present? %>">
      <%= render "incomplete" %>
    </div>
  <% end %>

  <% if @completed.present? %>
    <div id="completed-courses" class="<%= "col-lg-6" if @incomplete.present? %>">
      <%= render "complete" %>
    </div>
  <% end %>

  <div class="top-2"></div>
<% end %>

