<div class="row">
  <div class="container">
    <div class="col-sm-10 col-md-8 col-lg-6">
      <%= simple_form_for resource, as: resource_name, url: update_user_confirmation_path,
                          html: { class: 'form-horizontal', method: 'put' }, id: 'activation-form' do |f| %>
        <fieldset>
          <legend>
            <%= t(".activation") %>
            <% if resource.email %>
              : <%= resource.email %>
            <% end %>
          </legend>

          <%= devise_error_messages! %>

          <% if @requires_password %>
            <% f.with_options label: false do |o| %>
              <%= o.input :password, placeholder: t(".choose"), input_html: { class: "validate[required] input-lg"} %>
              <%= o.input :password_confirmation, placeholder: t(".confirm"),
                          input_html: { class: "validate[required,equals[#{resource_name}_password]] input-lg" } %>
            <% end %>
          <% end %>

          <%= hidden_field_tag :confirmation_token, @confirmation_token %>

          <div class="form-group">
            <%= f.submit t(".activate"), class: "btn btn-success btn-lg" %>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>
