<h4>Thanks for showing your interest!</h4>
<p>We are passionately looking at your work right now and will be in touch should we feel you will benefit in any way from the picct academy.</p>
<p>Stay awesome</p>
<p><%= link_to "picct.me", root_url %> team</p>
<p><strong>p.s.</strong> Know anyone who may be interested? Feel free to share and take credit for getting them in.</p>