<div class="pull-left">
  <%= image_tag @tutor.avatar, alt: @tutor.display_name %>
  <h3 class="text-center text-muted"><%= @tutor.score %></h3>
</div>

<div>
  <h3><%= @tutor.display_name %></h3>

  <% if @tutor.bio.present? %>
    <p><%= @tutor.bio %></p>
  <% end %>
</div>
