<li class="media">
  <%= link_to tutor_path(tutor), class: "pull-left avatar-with-score" do %>
    <%= image_tag device_type == :mobile ? tutor.avatar.small : tutor.avatar, alt: tutor.display_name %>
    <strong><%= tutor.score %></strong>
  <% end %>

  <div class="media-body">
    <h4><%= link_to tutor, tutor_path(tutor) %></h4>
    <p class="text-muted"><%= truncate(tutor.bio, length: 100) %></p>

    <% if tutor.authored_courses.present? %>
      <p class="text-muted tutor-stats">
        <%= fa_icon "camera-retro" %>&nbsp;<%= tutor.authored_courses.count %>
      </p>
    <% end %>
  </div>
</li>