<div class="row-fluid">
  <div class="center-block">
    <div id="profile-card" class="clearfix">
      <%= render "profile" %>
    </div>
  </div>
</div>

<div class="top-2"></div>

<div id="course-list">
  <%= render "course_list" %>
</div>
