<% content_for :admin_nav do %>
  <div class="row">
    <div class="container">
      <ul class="nav nav-pills">
        <li class="<%= "active" if params[:controller] == "admin/users" %>">
          <%= link_to t("activerecord.models.user").pluralize, admin_users_path %>
        </li>

        <li class="<%= "active" if params[:controller] == "admin/courses" %>">
          <%= link_to t("activerecord.models.course").pluralize, admin_courses_path %>
        </li>
      </ul>
    </div>
  </div>
  <div class="top-2"></div>
<% end %>

<%= render template: "layouts/application" %>