<div class="row">
  <div class="container">
    <div class="col-sm-10 col-md-8 col-lg-6 center-block">
      <h2><%= t("registrations.change_password.header") %></h2>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name),
                          html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <%= f.input :reset_password_token, as: :hidden %>

        <%= f.input :password, autocomplete: "off", label: false, input_html: { class: "input-lg" },
                    placeholder: t("activerecord.attributes.user.new_password") %>
        <%= f.input :password_confirmation, label: false, placeholder: t("activerecord.attributes.user.confirm_new_password"),
                    input_html: { class: "input-lg validate[condRequired[#{resource_name}_password],equals[#{resource_name}_password]]" } %>

        <div><%= f.button :submit, t(".change"), class: "btn-lg btn-success" %></div>
      <% end %>
    </div>
  </div>
</div>