<div class="row">
  <div class="container">
    <div class="col-sm-10 col-md-8 col-lg-6 center-block">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name),
                          html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <%= f.input :email, required: true, autofocus: true, label: false,
                    placeholder: t("activerecord.attributes.user.email"),
                    input_html: { class: "validate[required,custom[email]] input-lg"} %>
        <%= f.button :submit, t(".resend"), class: "btn-lg btn-success" %>
      <% end %>
    </div>
  </div>
</div>
