<div id="avatar-uploader">
  <%= simple_nested_form_for(resource, as: resource_name, url: registration_path(resource_name),
                             html: { method: :put, class: "form-horizontal", multipart: true }) do |f| %>
    <%= f.input :avatar, as: :file %>

    <div id="cropped-preview">
      <%= t(".preview") %>
      <%= image_tag resource.avatar, alt: resource.display_name %>
      <canvas style="display:none;">
      </canvas>

      <%= f.button :button, class: "btn-primary", disabled: true do %>
        <%= t("save") %>
      <% end %>

      <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-success" style="width: 100%;"></div>
      </div>
    </div>

    <div id="dropzone" class="dropzone fade">
      <%= f.error_notification %>

      <div class="image-preview">
        <%= image_tag resource.avatar, alt: resource.display_name, class: "preview" %>
      </div>
      <%= t(".dropzone") %>
    </div>
  <% end %>
</div>
