<div class="panel panel-default">
  <div class="panel-heading panel-title" class="panel-title" data-toggle="collapse"
       data-parent=".user-form" data-target="#change-password">
    <%= t(".header") %>
  </div>

  <div id="change-password" class="panel-collapse collapse">
    <div class="panel-body">
      <%= f.input :password, autocomplete: "off", placeholder: t("user.hint.password") %>
      <%= f.input :password_confirmation,
                  input_html: { class: "validate[condRequired[#{resource_name}_password],equals[#{resource_name}_password]]" } %>
      <%= f.input :current_password, placeholder: t("user.hint.current_password"),
                  input_html: { class: "validate[condRequired[#{resource_name}_password]]" } %>
    </div>
  </div>
</div>
