<div class="panel panel-default">
  <div class="panel-heading panel-title" data-toggle="collapse" data-parent=".user-form" data-target="#general-info">
    <%= t(".header") %>
  </div>

  <div id="general-info" class="panel-collapse collapse in">
    <div class="panel-body">
      <%= f.input :name, input_html: { data: { max: User::NAME_LIMIT}, class: "validate[max[#{User::NAME_LIMIT}]]" } %>
      <%= f.input :bio, as: :text, input_html: { class: "col-md-4 col-sm-6 col-xs-8 validate[max[#{User::BIO_LIMIT}]]",
                                                 size: "40x6", data: { max: User::BIO_LIMIT} },
                  placeholder: t("user.hint.bio") %>
      <% if resource.has_role?(:creative) %>
        <%= f.input :website, input_html: { class: "validate[required,custom[url]]" } %>
      <% end %>
      <%#= f.input :skill_list, as: :string, class: "form_tag", placeholder: t("user.hint.skills"),
                  input_html: { data: { pre: resource.skill_list.map {|t| { id: t, name: t }}.to_json,
                                        url: tags_path(format: :json) } } %>
    </div>
  </div>
</div>
