<h1><%= t(".thanks") %></h1>
<div id="request-invite" class="modal" style="display: 'block';">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&#215;</a>
    <h3><%= t(".thanks") %>!</h3>
  </div>
  <div class="modal-body" style="margin-bottom: 120px; overflow: visible">
    <p><%= t(".body_first") %></p>
    <p><%= t(".body_second") %></p>
  </div>
</div>