<div class="row">
  <div class="container">
    <div class="col-md-9 col-sm-12 col-xs-12 center-block">
      <h4><%= resource.display_name %></h4>
      <hr/>

      <div class="panel-group user-form">
        <div class="panel panel-default">
          <div class="panel-heading panel-title" data-toggle="collapse"
               data-parent=".user-form" data-target="#upload-avatar">
            <%= t(".avatar") %>
          </div>

          <div id="upload-avatar" class="panel-collapse collapse">
            <div class="panel-body">
              <%= render "avatar_uploader" %>
            </div>
          </div>
        </div>
      </div>

      <%= simple_nested_form_for(resource, as: resource_name, url: registration_path(resource_name),
                                 wrapper: :bootstrap3_horizontal, defaults: { right_column_html: {class: "col-sm-10"},
                                                         label_html: {class: "col-sm-2"} },
                                 html: { method: :put, class: "form-horizontal", multipart: true }) do |f| %>

        <%= f.error_notification %>

        <div class="panel-group user-form" id="form-body">
          <%= render "general_info", f: f %>
          <%= render "change_password", f: f %>
        </div>

        <div class="inset clearfix">
          <div class="pull-left">
            <ul class="horizontal">
              <li>
                <%= f.button :button, class: "btn btn-primary" do %>
                  <%= t("update") %>
                <% end %>
              </li>
              <li><%= link_to t("back"), :back, class: "btn btn-default" %></li>
            </ul>
          </div>

          <div class="pull-right"><%= link_to t(".cancel"), registration_path(resource_name), class: "btn btn-danger",
                                              data: { confirm: t("are_you_sure") }, method: :delete %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- The template to display files available for upload -->
<script id="avatar-template-upload" type="text/x-tmpl">
  <div class="template-upload fade">
    {% if (o.error) { %}
    <div class="alert alert-error">
      <span class="label label-important">{%= locale.fileupload.error %}</span>
      {%= locale.fileupload.errors[o.error] || o.error %}
    </div>
    {% } else { %}
    <div class="preview"><span class="fade"></span></div>
    {% } %}
  </div>
</script>
