<div class="center-block col-md-6">
  <% role = params[:role] || resource.roles.first.name %>
  <% unless ["admin"].include?(role) %>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <% Role.where(name: role).pluck(:id).each do |r| %>
          <%= f.hidden_field "role_ids][", value: r %>
        <% end %>

        <% f.with_options label: false, input_html: { class: "col-md-4" } do |o| %>
          <%= o.input :email, required: true, autofocus: true, placeholder: t("activerecord.attributes.user.email") %>
          <%= o.input :password, required: true, placeholder: t("activerecord.attributes.user.password") %>
          <%= o.input :password_confirmation, required: true, placeholder: t("activerecord.attributes.user.password_confirmation") %>
          <%= o.input :website, required: true, placeholder: t("activerecord.attributes.user.website") %>
        <% end %>
      </div>

      <div class="control-group">
        <div class="controls">
          <%= f.submit t("sign_up"), class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="well-large"><%= t(".role_not_found") %></div>
  <% end %>
</div>
