<li class="chapter-item">
  <div id="<%= dom_id(course_chapter) %>">
    <% if can? :read, course_chapter %>
      <%= link_to image_tag(course_chapter.video.thumb_small, alt: course_chapter.title),
                 "#", rel: "popover", role: "button",
                             data: { toggle: "popover", original_title: course_chapter.title,
                                     content: course_chapter.description } %>
    <% else %>
      <%= image_tag(course_chapter.video.thumb_small, alt: course_chapter.title) %>
    <% end %>

    <% for_device_type :desktop do %>
      <span class="chapter-caption">
        <h4><%= course_chapter %></h4>
        <p><%= truncate(course_chapter.description, length: 255) %></p>
      </span>
    <% end %>

    <% for_device_type :tablet, :mobile do %>
      <div>
        <%= render "course_chapters/general_info", course_chapter: course_chapter %>
      </div>
    <% end %>
  </div>
</li>