<div class="chapter-item panel panel-<%= chapter.new_record? ? "info" : "success" %>">
  <div class="panel-heading panel-title">
    <div class="sortable-handle">
      <%= fa_icon "sort" %>
    </div>

    <span class="heading"><%= chapter.title || t("courses.edit.new_chapter") %></span>

    <div class="sortable-actions">
      <div class="progress progress-header">
        <div class="progress-bar progress-bar-info"></div>
      </div>

      <%= link_to([:gamify, chapter.course, chapter], title: "gamify") { fa_icon "gamepad" } if can?(:gamify, chapter) %>

      <% if can? :update, chapter %>
        <%= link_to("#", class: "update") { fa_icon "check-circle" } %>
        <%= link_to("#", class: "upload-control resume") { fa_icon "upload" } %>
        <%= link_to("#", class: "upload-control pause") { fa_icon "pause" } %>
        <%= link_to("#", class: "upload-control cancel") { fa_icon "ban" } %>
      <% end %>

      <% if can? :destroy, chapter %>
        <%= link_to("#", class: "destroy") { fa_icon "times-circle" } %>
      <% end %>
    </div>
  </div>

  <div id="<%= dom_id(chapter) %>" class="panel-collapse collapse in">
    <div class="panel-body">

      <% if can? :update, chapter %>
        <% obj = (chapter.course && !chapter.course.new_record?) ? [chapter.course, chapter] : chapter %>

        <div class="direct-uploader">
          <div class="uploader-form">
            <%= simple_form_for obj, namespace: "upload-#{chapter.id}",
                                     html: { multipart: true, data: { model: "course_chapter" } } do |f| %>
            <div class="dropzone fade uploader-form">
              <%= f.file_field :video, use_action_status: true,
                               class: ("validate[condRequired[if[dropzoneEmpty]],funcCall[validateDuration]]" unless chapter.video.present?),
                               data: { uploader: S3Multipart::Uploader.serialize("CourseChapterUploader"),
                                       "jqv-prompt-at" => "##{dom_id(chapter)} .dropzone",
                                       "errormessage-value-missing" => t("upload_missing") } %>
              <div class="image-preview">
                <% if chapter.video.present? %>
                  <%= render "shared/video", video: chapter.video %>
                <% end %>
              </div>
              <%= t(".dropzone") %>

            </div>
            <% end %>
          </div>

          <div class="main-form right-column">
            <%= simple_form_for obj, remote: true, namespace: "c#{chapter.id}",
                                     wrapper: :bootstrap3_horizontal,
                                       defaults: { label_html: { class: "sr-only" },
                                                   input_html: { class: "input-sm" } } do |f| %>
              <%= f.error_notification %>
              <%= f.association :course, as: :hidden, input_html: { class: "validate[required]"} %>
              <%= f.input :position, as: :hidden %>

              <%= f.input :title, placeholder: t(".title"), input_html: { class: "validate[required] input-sm" } %>
              <%= f.input :description, placeholder: t(".description") %>

              <%= f.button :button, t("save"), class: "btn-primary save" %>
            <% end %>
          </div>
        </div>

      <% else # can? :update %>

        <div class="video-preview readonly">
          <%= render "shared/video", video: chapter.video %>
        </div>
        <div class="right-column">
          <p><%= chapter.description %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
