<%= link_to "#", rel: "popover", role: "button",
            data: { toggle: "popover", original_title: course_chapter.title,
                    content: course_chapter.description } do %>
  <h4 class="text-center">
    <%= course_chapter %>
  </h4>
<% end %>

<div class="action-links">
  <% if can? :destroy, course_chapter %>
    <%= link_to course_course_chapter_path(course_chapter.course, course_chapter), method: :delete,
                class: "btn btn-default btn-sm", remote: true,
                data: { confirm: t("confirm_delete", scope: "course_chapter") } do %>
      <%= fa_icon "times" %>
    <% end %>
  <% end %>
</div>
