<%= content_for :head_before do %>
  <%= javascript_include_tag "http://www.google.com/jsapi" %>
<% end %>

<div class="col-lg-8 col-md-6">
  <div class="row">
    <div id="video-placeholder" class="row">
      <div>
        <video id="video" class="video-js vjs-default-skin vjs-big-play-centered" autobuffer
               preload="auto" data-setup='{}' width="auto" height="auto">
          <% [ :mp4, :ogv, :webm ].each do |ext| %>
            <source src="<%= @course_chapter.video.versions[ext] || @course_chapter.video %>" type="video/<%= (ext == :ogv) ? "ogg" : ext %>"/>
          <% end %>
        </video>
        <div class="event-canvas">
        </div>
      </div>
    </div>
    <div class="top-2"></div>
  </div>

  <div class="row">
    <div id="timeline-container">
      <input type="text" id="time-slider" style="width:100%;">

      <div class="top-2"></div>
      <div id="timeline"></div>
    </div>
  </div>
</div>

<div class="col-lg-4 col-md-6">
  <div id="editor">
    <button class="view-trigger btn btn-default" data-target="#event-list"><%= t(".menu.events") %></button>
    <div class="top-1"></div><hr><div class="top-1"></div>

    <div id="form-tabs">
      <ul id="event-list" class="list-unstyled">
        <li class="event-item generic-list-item"><a href="#"><%= t(".events.footnote") %></a></li>
      </ul>
    </div>
  </div>
</div>

<div id="form-template-container">
  <%= render "gaming_events/form", gaming_event: @course_chapter.gaming_events.build %>
</div>