<h3 class="text-center"><%= @course %></h3>

<% if can? :update, @course %>
  <div class="text-center">
    <%= button_tag t(".add_chapter"), id: "add-chapter", class: "btn btn-primary btn-lg" %>
    <%= button_tag t(".save_all"), class: "btn btn-primary btn-lg save-all" %>
  </div>
<% end %>

<div class="top-1"></div>

<div id="sortable-chapters" class="panel-group<%= " sortable" if can?(:update, @course) %>">
  <% if can? :update, @course %>
    <%= button_tag t("save_order"), class: "btn btn-primary save-order" %>
  <% end %>

  <div class="top-1"></div>

  <%= render partial: "form", collection: @course_chapters, as: :chapter %>
</div>

<%= render "shared/video_upload" %>
<script type="text/x-tmpl" id="template-download"></script>
