<div class="media">
  <%= image_tag @course_chapter.video.thumb_small, class: "pull-left", alt: @course_chapter.title %>

  <div class="media-body">
    <h4 class="text-center text-info"><%= @course_chapter %></h4>
    <p><%= @course_chapter.description %></p>
  </div>
</div>
