<%= simple_form_for gaming_event, namespace: "e#{gaming_event.id}" do |f| %>
  <%= f.generic_error %>
  <%= f.error_notification %>

  <%= f.association :course_chapter, as: :hidden %>

  <% [:top, :left].each do |attr| %>
    <div class="form-group">
      <%= f.label attr %>
      <div class="input-group">
        <%= f.input attr, label: false, input_html: { class: "input-sm validate[required,custom[number],min[0],max[100]]" } %>
        <span class="input-group-addon">%</span>
      </div>
    </div>
  <% end %>

  <%= f.input :start, input_html: { class: "input-sm validate[required,custom[number],min[0]]" } %>
  <%= f.input :duration, input_html: { class: "input-sm validate[required,custom[number],min[1]]" } %>
  <%= f.input :text, input_html: { class: "editable validate[condRequired,if[editableEmpty]]" } %>
  <%= f.button :button, t("save"), class: "btn-default" %>
  <%= link_to t("destroy"), gaming_event, class: "destroy btn btn-danger", method: :delete %>
<% end %>
