<script type="text/x-tmpl" id="video-upload-tmpl">
  <div class="template-upload fade">
    {% if (o.error) { %}
    <div class="alert alert-danger">
      <span class="label label-important">{%= locale.fileupload.error %}</span>
      {%= locale.fileupload.errors[o.error] || o.error %}
    </div>
    {% } else { %}
    <div class="preview">
      {%= o.name %}
      <span class="fade"></span>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-info"></div>
    </div>
    {% } %}
  </div>
</script>
