<% if video.model.processing? %>
  <%= t(".processing") %>
<% else %>
  <section id="pc-<%= dom_id(video.model) %>" class="popcorn-container">
    <video id="<%= dom_id(video.model) %>-video" class="video-js vjs-default-skin vjs-big-play-centered"
           controls preload="auto" data-setup='{}' width="auto" height="auto" poster="<%= video.url(:thumb_small) %>">
      <% [ :mp4, :ogv, :webm ].each do |ext| %>
        <source src="<%= video.versions[ext] || video %>" type="video/<%= (ext == :ogv) ? "ogg" : ext %>"/>
      <% end %>
    </video>
  </section>
<% end %>
