<li class="page<%= ' active' if page.current? %>">
  <%= link_to page, (page.current? ? 'javascript:void(0)' : url), opts = {remote: remote, rel: page.next? ? 'next' : page.prev? ? 'prev' : nil} %>
</li>