<%= simple_form_for @creative, as: :user, url: registration_path(:user), namespace: "creative",
                    html: { id: "new_creative" }, remote: true do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field "role_ids][", value: Role.where(name: "creative").first_or_create.id %>
  <%= f.input :email, label: false, placeholder: t("landing_page.index.email"),
                      input_html: { class: "validate[required,custom[email]]" } %>

  <%= f.input :website, label: false, placeholder: t("landing_page.index.website"),
              input_html: { class: "validate[required,custom[url]]" } %>
  <%= f.submit t("landing_page.index.teach"), class: "btn btn-info",
               data: { disable_with: t("landing_page.index.signing_up") } %>
<% end %>
