<%= simple_form_for @student, as: :user, url: registration_path(:user), namespace: "student",
                    remote: true, html: { id: "new_student" } do |f| %>
  <div class="text-center">
    <legend>Picct</legend>
    <strong><%= t(".form.tagline.main") %></strong>
    <p>
      <div><%= t(".form.tagline.second") %></div>
      <div><%= t(".form.tagline.third") %></div>
    </p>
  </div>
  <%= f.error_notification %>
  <%= f.hidden_field "role_ids][", value: Role.where(name: "student").first_or_create.id %>
  <%= f.input :email, label: false, placeholder: t("landing_page.index.email"),
              input_html: { class: "validate[required,custom[email]] input-lg" } %>
  <%= f.input :name, label: false, placeholder: t("landing_page.index.name"), input_html: { class: "input-lg" } %>
  <%= f.submit t("landing_page.index.enrol"), class: "btn btn-success btn-block btn-lg",
               data: { disable_with: t("landing_page.index.signing_up") } %>
<% end %>
