<div class="modal-dialog">
  <div class="modal-content text-center">
    <div class="modal-header">
      <a class="close" data-dismiss="modal"><%= fa_icon "times-circle" %></a>
      <h2><%= t("registrations.thankyou.thanks") %></h2>
    </div>

    <div class="modal-body">
      <div class="share-status alert"></div>
      <%= yield %>
      <div class="top-1"></div>
      <ul class="list-inline social-links">
        <li><%= link_to image_tag("facebook.png"), "http://facebook.com/picctme", class: "fb-share" %></li>
        <li><%= link_to image_tag("twitter.png"), "#", class: "tweet" %></li>
      </ul>
    </div>
  </div>
</div>
