We're checking out your work and will be in touch soon
<div class="top-2"></div>
<div>Know a colleague who works in a different area?</div>
<div class="text-muted">(e.g. I'm an editor but know an awesome art director)</div>
<div class="top-2"></div>
<div>Invite them to teach a course</div>
