<% content_for :fb_og_tags do %>
  <meta property="og:url" content="http://picct.me"/>
  <meta property="og:title" content="picct"/>
  <meta property="og:image" content="https://s3-eu-west-1.amazonaws.com/picctme-production/static/fb-share-pic.PNG"/>
<% end %>

<%= link_to t(".students"), "#", id: "students", class: "btn", data: { toggle: "modal", target: "#students-sign-up" } %>

<p class="headline">
  <span><%= t(".tagline") %></span>
  <strong><%= t(".tagline_next") %></strong>
</p>

<div id="forms" class="row">
  <div class="col-md-6 col-sm-8 center-block">
    <%= render "creative" %>
  </div>

  <div class="col-md-4 col-sm-6 center-block">
    <ul class="nav nav-justified">
      <% if user_signed_in? %>
        <li><%= link_to t(".sign_in"), root_path, id: "sign-in" %></li>
      <% else %>
        <li><%= link_to t(".sign_in"), '#', id: "sign-in", data: { toggle: "modal", target: "#sign-in-modal"} %></li>
      <% end %>
      <li><%= link_to t(".blog"), "http://blog.picct.me" %></li>
      <li><%= link_to "Twitter", "http://twitter.com/picctme" %></li>
    </ul>
  </div>
</div>

<div id="sign-in-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <a class="close" data-dismiss="modal"><%= fa_icon "times-circle" %></a>

      <div class="top-2">
      </div>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="modal-body">
          <%= link_to t("devise.sessions.new.forgot_password"), new_password_path(resource), class: "btn btn-default" %>
          <%= link_to t("devise.sessions.new.resend_confirmation"), new_confirmation_path(resource), class: "btn btn-default" %>

          <div class="top-1"></div>

            <%= f.input :email, autofocus: true, label: false, placeholder: t("activerecord.attributes.user.email"),
                        input_html: { class: "validate[required,custom[email]] input-lg"} %>
            <%= f.input :password, label: false, placeholder: t("activerecord.attributes.user.password"),
                        input_html: { class: "validate[required] input-lg"} %>
        </div>

        <div class="modal-footer">
          <%= f.button :button, t("devise.sessions.new.sign_in"), class: "btn-success btn-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="students-sign-up" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <a class="close" data-dismiss="modal"><%= fa_icon "times-circle" %></a>

      <div class="top-2">
      </div>

      <div class="modal-body">
        <%= render "student" %>
      </div>
    </div>
  </div>
</div>

<% %w{ creative student }.each do |role| %>
  <div id="thankyou-<%= role %>" class="modal fade" role="dialog">
    <%= render layout: "thanks" do %>
      <%= render "thanks_#{role}" %>
    <% end %>
  </div>
<% end %>
