<div id="thank-you-page-content" class="text-center">
  <h1><%= t("registrations.thankyou.thanks") %></h1>
  <p>
    <%= t("registrations.thankyou.body_first") %>
    <ul class="list-inline social-links">
      <li><%= link_to image_tag("facebook.png"), "http://facebook.com/picctme" %></li>
      <li><%= link_to image_tag("twitter.png"), "http://twitter.com/picctme" %></li>
      <li><%= link_to image_tag("blog.png"), "http://blog.picct.me" %></li>
    </ul>
  </p>
</div>
