<div class="row col-lg-6 col-md-8 col-sm-10 center-block" id="new-session">
  <h3><%= t(".header") %></h3>

  <%= link_to t(".forgot_password"), new_password_path(resource), class: "btn btn-default" %>
  <%= link_to t(".resend_confirmation"), new_confirmation_path(resource), class: "btn btn-default" %>

  <div class="top-1"></div>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.input :email, autofocus: true, label: false, placeholder: t("activerecord.attributes.user.email"),
                input_html: { class: "validate[required,custom[email]] input-lg"} %>
    <%= f.input :password, label: false, placeholder: t("activerecord.attributes.user.password"),
                input_html: { class: "validate[required] input-lg"} %>

    <div>
      <%= f.button :button, t(".sign_in"), class: "btn-success btn-lg" %>
      <%= link_to t("back"), root_path, class: "btn btn-default btn-lg" %>
    </div>
  <% end %>
</div>
