<h3><%= t(".total", count: @user.score) %></h3>

<div id="score-activities" data-overlay="true">
  <table class="table">
    <tbody>
      <% @score_activities.each do |item| %>
        <tr>
          <td class="text-success"><%= item.score_total %></td>
          <td><%= item.text(item.subject_ids.size) %></td>
          <td class="text-muted"><%= l item.date, format: "%e %b %Y" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @score_activities, remote: true %>
</div>
