<li id="<%= dom_id(course) %>" class="<%= dom_id(course) %> clearfix">
  <div class="pull-left">
    <div>
      <%= link_to image_tag(course.intro.thumb_small), can?(:watch, course) ? watch_course_path(course) : course %>
    </div>
    <% if can? :enrol, course %>
      <%= link_to t("course.enrol", count: course.fee), enrol_course_path(course),
                  class: "btn btn-lg btn-success btn-block", method: :post %>
    <% end %>
  </div>

  <div>
    <h4><%= link_to course, can?(:watch, course) ? watch_course_path(course) : course %></h4>

    <% if current_user != course.author %>
      <p>
        <%= t(".chapter_count", count: course.course_chapters.count) %>
        <%= link_to course.author, tutor_path(course.author) %>
      </p>
    <% end %>

    <% if course.description.present? %>
      <p class="text-muted"><%= truncate(course.description, length: 128) %></p>
    <% end %>
  </div>

  <span class="action-links">
    <% if can? :update, course %>
      <%= link_to edit_course_path(course) do %>
        <%= fa_icon "edit" %>
      <% end %>
    <% end %>

    <% if can? :destroy, course %>
      <%= link_to course, method: :delete,
                          remote: true, data: { confirm: t("confirm_delete", scope: "course") } do %>
        <%= fa_icon "times" %>
      <% end %>
    <% end %>
  </span>
</li>