<div id="upload-status" class="alert alert-info">
  <%= fa_icon "info-circle" %>&nbsp;<span></span>
</div>

<div class="row">
  <div id="direct-uploader" class="direct-uploader" data-fileupload-options='{"uploadTemplateId":"video-upload-tmpl"}'>
    <%= render "courses/main_form" %>
  </div>
</div>

<div class="top-2"></div>

<div class="row">
  <div id="sortable-chapters" class="panel-group">
    <div class="text-center">
      <p class="lead text-muted"><%= t(".hint.dropzone") %></p>
      <em class="text-muted"><%= t(".hint.edit_chapters").html_safe %></em>
      <%= button_tag t("save_order"), class: "btn btn-primary save-order" %>
    </div>

    <div id="chapter-container" class="sortable">
      <%= render partial: "course_chapters/form", collection: @course.course_chapters, as: :chapter %>
    </div>
  </div>
</div>

<div id="new-chapter-container">
  <%= render "course_chapters/form", chapter: @course.course_chapters.build %>
</div>

<%= render "shared/video_upload" %>
<script type="text/x-tmpl" id="template-download"></script>