<p class="text-muted"><%= @course.description %></p>
<h4 class="text-center text-info"><%= t(".created_by") %></h4>

<div class="media inset">
  <%= link_to tutor_path(@course.author), class: "pull-left" do %>
    <%= image_tag @course.author.avatar.small, alt: @course.author %>
    <h4 class="text-center text-muted"><%= @course.author.score %></h4>
  <% end %>

  <div class="media-body">
    <p><%= @course.author %></p>
    <p class="text-muted"><%= @course.author.bio %></p>
  </div>
</div>

<div class="top-1"></div>

<table id="course-stats" class="table">
  <tbody>
    <% if @course.unique_views > 0 %>
      <tr>
        <td><%= @course.unique_views %></td>
        <td><%= t(".views", count: @course.unique_views) %></td>
      </tr>
    <% end %>

    <% if @course.enrolments.present? %>
      <tr>
        <td><%= @course.enrolments.count %></td>
        <td><%= t(".enrolments", count: @course.enrolments.count) %></td>
      </tr>
    <% end %>
  </tbody>
</table>