<div class="col-lg-4 col-md-6 col-lg-offset-1 col-md-offset-1 uploader-form">
  <%= simple_form_for @course, html: { id: "course-upload", multipart: true, data: { model: "course" } } do |f| %>
    <div class="dropzone fade">
      <%= f.file_field :intro, class: ("validate[condRequired[if[dropzoneEmpty]],funcCall[validateDuration]]" unless @course.intro.present?),
                       data: { uploader: S3Multipart::Uploader.serialize("CourseUploader"),
                               "jqv-prompt-at" => "#direct-uploader .dropzone",
                               "errormessage-value-missing" => t("upload_missing") } %>
      <div class="image-preview">
        <% if @course.intro.present? %>
          <%= render "shared/video", video: @course.intro %>
        <% end %>
      </div>
      <%= t(".dropzone") %>
    </div>

    <%= f.button :button, t("save"), class: "btn-primary btn-lg btn-block main-submit save-all" %>

    <div class="btn-group btn-group-justified">
      <%= link_to("#", class: "btn btn-default upload-control resume") { fa_icon "upload" } %>
      <%= link_to("#", class: "btn btn-default upload-control pause") { fa_icon "pause" } %>
      <%= link_to("#", class: "btn btn-default upload-control cancel") { fa_icon "ban" } %>
    </div>
  <% end %>
</div>

<div class="right-column main-form">
  <%= simple_form_for @course, html: { class: "form-horizontal" },
                      wrapper: :bootstrap3_horizontal, defaults: { right_column_html: { class: "col-sm-10" },
                      label_html: { class: "col-sm-2 sr-only" } }, remote: true do |f| %>
    <legend class="text-center"><%= @course.new_record? ? t(".legend") : @course %></legend>

    <%= f.error_notification %>

    <% if current_user.has_role?(:admin) %>
      <%= f.association :author, as: :string, input_html: { class: "select2-field validate[required]" }, placeholder: t(".author") %>
    <% else %>
      <%= f.association :author, as: :hidden, input_html: { value: current_user.id } %>
    <% end %>

    <%= f.input :title, placeholder: t(".title"), input_html: { class: "validate[required] input-sm" } %>

    <% f.with_options input_html: { class: "input-sm" } do |ff| %>
      <%= ff.input :description, placeholder: t(".description") %>
      <%#= ff.input :level, collection: Course::LEVELS, include_blank: false,
                  right_column_html: { class: "col-lg-4 col-md-6 col-sm-8" } %>

      <%#= ff.association :topics %>
    <% end %>

    <div class="form-group">
      <%= f.label :fee, class: "col-lg-2 col-md-2 col-sm-2 sr-only" %>
      <div class="col-xs-10 col-sm-8 col-md-6 col-lg-4">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.input :fee, wrapper: false, label: false, right_column_html: false, placeholder: "00",
                      input_html: { class: "validate[custom[number],min[0]] input-sm",
                                    value: @course.fee.to_i } %>
          <span class="input-group-addon">.00</span>
        </div>
      </div>
    </div>
  <% end %>
</div>
