<div class="row">
  <% for_device_type :desktop, :tablet do %>
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <h3 class="text-center text-info"><%= @course %></h3>

        <%= render "intro" %>

      </div>

      <div class="col-lg-4 col-md-4 col-sm-4">
        <%= render "general_info" %>

        <% if can? :enrol, @course %>
          <%= link_to t("course.enrol", count: @course.fee), enrol_course_path(@course),
                      class: "btn btn-lg btn-success btn-block", method: :post %>
        <% end %>

        <div class="btn-group btn-group-justified">
          <%= link_to t(".edit_content"), edit_course_path(@course), class: "btn btn-default" if can?(:update, @course) %>
          <%= link_to t("destroy"), @course, method: :delete, class: "btn btn-danger",
                          data: { confirm: t("confirm_delete", scope: "course") } if can?(:destroy, @course) %>
        </div>
      </div>
    </div>

    <div class="top-2"></div>

    <div class="row">
      <ul id="course-chapters" class="grid-list-3">
        <%= render @course.course_chapters %>
      </ul>
    </div>
  <% end %>

  <% for_device_type :mobile do %>
    <div class="container">
      <div class="col-lg-10">
        <h3 class="text-center text-info"><%= @course %></h3>

        <%= render "general_info" %>

        <div class="text-center">
          <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#course-intro">
            <%= t(".watch_intro") %>
          </button>
        </div>

        <ul id="course-chapters-mobile">
          <% @course.course_chapters.each do |chapter| %>
            <li>
              <%= render "course_chapters/general_info", course_chapter: chapter %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div id="course-intro" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><%= @course %></h4>
          </div>

          <div class="modal-body">
            <%= render "intro" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
