<%= content_for :main_area do %>
  <h2 class="text-center text-info"><%= @course %></h2>

  <div id="current-chapter" class="row">
    <%= render "enrolments/current_chapter", chapter: @current_chapter %>
  </div>

  <div id="chapter-list" class="row">
    <ul class="grid-list-3 main-list">
      <% @course.course_chapters.each do |chapter| %>
        <% klass = if @current_chapter == chapter
            "current"
          elsif cannot?(:watch, chapter)
            "incomplete"
          end %>

        <li id="item-<%= dom_id(chapter) %>" class="<%= klass %>">
          <%= link_to watch_course_path(id: @course.id, c: chapter.id), remote: true do %>
            <% for_device_type :mobile, :tablet do %>
              <h5 class="text-center"><%= chapter %></h5>
              <p><small><%= truncate(chapter.description, length: 100) %></small></p>
            <% end %>

            <% for_device_type :desktop do %>
              <div>
                <%= image_tag(chapter.video.thumb_small, alt: chapter.title) %>
                <span class="chapter-caption">
                  <h5><%= chapter %></h5>
                  <p><small><%= truncate(chapter.description, length: 255) %></small></p>
                </span>
              </div>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= content_for :event_bucket do %>
  <p id="triggered-events-placeholder" class="text-center text-muted">
    <%= t(".triggered_events_placeholder") %>
  </p>
  <ul id="triggered-events"></ul>
<% end %>

<% for_device_type :desktop, :tablet do %>
  <div class="col-md-9">
    <%= yield :main_area %>
  </div>

  <div class="col-md-3">
    <%= yield :event_bucket %>
  </div>
<% end %>

<% for_device_type :mobile do %>
  <div class="row">
    <%= yield :main_area %>
  </div>

  <div class="row">
    <%= yield :event_bucket %>
  </div>
<% end %>
