/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require video-js
 *= require jquery.Jcrop
 *= require validationEngine.jquery
 *= require slider
 *= require timeline
 *= require medium-editor
 *= require medium-editor.mani
 *= require_self
 *= require_tree .
 */
@import bootstrap-variables, bootstrap, font-awesome, generic

@font-face
  font-family: "MuseoSans500"
  src: font-url('MuseoSans500.eot'), font-url('MuseoSans500.eot?#iefix') format('embedded-opentype'), font-url('MuseoSans500.woff') format('woff'), font-url('MuseoSans500.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@import mixin, select2, select2-bootstrap

body
  background: image-url("exclusive_paper.png")
  font-family: MuseoSans500

  &.landing-page
    font-family: 'Raleway', sans-serif
    padding-top: 0
    background: image-url("landingpage.jpg") no-repeat center center fixed
    +background-size(cover)
    min-height: 100%
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/landingpage.jpg', sizingMethod='scale')"
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/landingpage.jpg', sizingMethod='scale')

[class^="icon-"], [class*=" icon-"]
  vertical-align: baseline

h1,h2,h3,h4,h5,h6
  font-family: MuseoSans500

*
  transition: all 0.5s

ul
  list-style: none outside none
  margin: 0
  padding: 0

  &.horizontal
    float: left

    li
      margin: 0 0.2em
      //display: inline
      float: left

ul.menu
  margin: 0.5em 0

div.inline-inputs
  display: inline-block

a.remove_nested_fields
  font:
    weight: bold

.underline
  text-decoration: underline

.top-half
  margin-top: 0.5em

.top-1
  margin-top: 1em

.top-2
  margin-top: 2em

.video-wrapper
  width: 100%
  height: 100%
  padding: 1em 0
  font-size: 2em
  color: #aaa

.user-form, #sortable-chapters
  .panel-heading
    cursor: pointer
    +transition(all 0.5s)

    &:hover
      border-color: #aaa
      background-color: darken($panel-default-heading-bg, 2%)

#form-body
  margin-bottom: 2em

  .panel:first-child
    margin-top: 5px

.inset
  margin-bottom: 2em
  padding: 1em
  border: 1px solid rgba(255, 255, 255, 0.8)
  +box-shadow(0 0 5px rgba(0, 0, 0, 0.2) inset)

.direct-uploader
  input[type=file]
    display: none

  .dropzone
    min-height: 180px

#dropzone, .dropzone
  background: rgba(0, 0, 0, 0.08)
  +box-shadow(0 0 15px rgba(0, 0, 0, 0.2) inset)
  border: 1px solid #ccc
  text-align: center
  cursor: pointer
  color: #888
  padding: 10px
  overflow: hidden

  &.in
    font-size: larger
    border-color: #555
    color: black

  &.hover
    background: rgba(0, 0, 0, 0.15)
    +box-shadow(0 0 15px rgba(0, 0, 0, 0.4) inset)

  &.fade
    +transition(all 0.5s)
    opacity: 1

  video
    width: 100%
    height: auto

.jcrop-holder
  margin: auto

.right-column
  padding-left: 1em
  overflow: hidden

.sortable-placeholder
  border: 2px dashed #ccc

.sortable-handle
  display: none

.sortable
  .sortable-handle
    display: inline-block
    position: relative
    width: 1.5em

    .fa
      font-size: 1.5em
      position: absolute
      top: -0.75em
      @extend .draggable

.tutor-stats
  border-top: 1px solid #ccc

.grid-list
  .media:nth-child(2)
    margin-top: 0

  a
    text-decoration: none

  li
    margin: 1%
    padding: 10px
    position: relative
    float: left
    width: 48%

    .action-links
      display: inline-block
      position: absolute
      top: 10px
      right: 10px

.grid-list-3
  @extend .grid-list

  .media:nth-child(3)
    margin-top: 0

  li
    width: 31.3333%

.grid-list-4
  @extend .grid-list-3

  .media:nth-child(4)
    margin-top: 0

  li
    width: 23%

.select2-container .select2-choices .select2-search-field input,
.select2-container .select2-choice, .select2-container .select2-choices
  font-family: inherit

.medium-editor-placeholder
  min-height: 2em

  &:after
    color: gray
    font-size: 1.2em

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
  body
    background: image-url("exclusive_paper_@2X.png")

@media screen and (max-width: 720px)
  .grid-list li
    width: 100%

  .grid-list-3 li
    width: 48%

  .grid-list-4 li
    width: 31.3333%

@media screen and (max-width: 480px)
  .grid-list-3 li, .grid-list-4 li
    width: 100%

