@import bootstrap-variables, bootstrap/mixins

.sr-only
  width: 1px !important
  position: absolute !important

.navbar
  border: none
  border-bottom: 1px solid #1c1000
  +box-shadow(0 0 8px black)

.navbar-default
  +gradient-vertical($light-brown,$dark-brown)
  text-shadow: 1px 1px 1px black

  .navbar-nav
    > .open > a
      &, &:hover, &:focus
        +gradient-vertical(darken($light-brown,3%), darken($dark-brown,3%))

.center-block
  float: none

.modal-dialog
  a.close
    float: none
    position: absolute
    top: -0.25em
    right: -0.2em
    font-size: 3em
    opacity: 1

    &:hover, &:focus
      opacity: 1

.media
  img
    max-width: 96px

.nav-tabs
  li
    border-bottom: 1px solid #ccc

    &.active
      border-bottom: none