@import bootstrap/mixins

#course-stats
  font:
    weight: bold
    size: 1.4em
  color: #aaa

  td:first-child
    text-align: right
    color: #888

#chapter-list ul.main-list li
  &.current
    border: 2px solid #ccc
    background-color: white

  &.incomplete
    background-color: rgba(245,245,245,0.5)

    &:hover
      background-color: rgba(245,245,245,0.5)
    a
      cursor: inherit

    h5,p
      color: #aaa

#current-chapter
  h3 a
    opacity: 0.5
    text-decoration: none
    padding: 0 1em

#triggered-events-placeholder
  padding: 1em
  border: 1px solid #ccc
  font-size: larger

#triggered-events li
  margin-bottom: 0.5em
  background-color: #f5f5f5
  border: 1px solid #ccc
  padding: 1em

  &:hover
    background-color: white

#course-chapters
  li
    padding: 0.5em
    background-color: #f5f5f5
    border: 1px solid #e0e0e0
    +box-shadow(1px 1px 6px #ddd)

    &:hover
      background-color: white

      .chapter-caption
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
        filter: alpha(opacity=100)
        -moz-opacity: 1
        -khtml-opacity: 1
        opacity: 1
        top: 0
        left: 0

    img
      width: 100%

    & > div
      padding: 0.5em

#chapter-list .main-list li > a > div,
#course-chapters li > div
  position: relative
  overflow: hidden

  .chapter-caption
    position: absolute
    width: 100%
    height: 100%
    opacity: 0
    padding: 0.5em
    top: 50%
    left: 0
    background: rgba(20,20,30,0.8)

    *
      color: white
      text-align: center

  &:hover
    .chapter-caption
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
      filter: alpha(opacity=100)
      -moz-opacity: 1
      -khtml-opacity: 1
      opacity: 1
      top: 0
      left: 0

#course-chapters-mobile
  h4
    text-align: center

#new-chapter-container
  display: none

#chapter-container
  padding: 1em

#sortable-chapters
  +box-shadow(0 0 5px rgba(0, 0, 0, 0.1) inset)
  background: rgba(255,255,255,0.4)
  margin-bottom: 2em

  &.dragover, &:hover
    background: rgba(255,255,255,0.6)
    color: black

    & > div.text-center p
      color: black

  .chapter-item
    margin-bottom: 1em
    position: relative

    .progress-header
      margin-top: 0.25em
      display: inline-block
      width: 8em
      margin-right: 1em
      float: left

    .sortable-actions
      position: absolute
      font-size: 1.5em
      position: absolute
      top: 0.25em
      right: 0.5em

      a
        float: left
        padding-right: 0.4em
        font-weight: bold

        &:hover
          font-size: 1.2em
          margin-top: -0.1em
          margin-left: -0.1em

  & > div.text-center
    padding-top: 1em
    position: relative

    button
      position: absolute
      left: 1em
      top: 1em

  a.update
    color: #32cd32

    &:hover
      color: darken(#32cd32, 8%)
      font-size: larger

  a.destroy
    font-weight: bold
    color: #db7093

    &:hover
      color: darken(#db7093, 8%)
      font-size: larger

  .video-preview
    float: left

  .dropzone, .video-preview
    width: 240px
    min-height: 135px
    margin: 0 1em
    float: left

    input[type=file]
      display: none

#save-all
  margin-top: 0.5em

#upload-status
  position: fixed
  top: 1em
  left: 1em
  font-size: 1.4em
  z-index: 1001
  border: 1px solid
  +box-shadow(0 3px 8px rgba(0,0,0,0.5))

.save-order
  display: none

@media screen and (max-width: 480px)
  #new-chapter-container
    .dropzone, .video-preview
      width: 160px
      height: 90px
