@import generic

#chapter-list
  li
    padding: 0

    a
      padding: 1em
      display: block

#video-placeholder
  background-color: white
  border: 1px solid #bbb
  +box-shadow(0 0 12px #aaa)
  margin: 0 auto
  padding: 1em
  max-width: 720px

  & > div
    position: relative

    .event-canvas
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0

    a
      @extend .draggable

#timeline-container, #editor
  background-color: white
  border: 1px solid #ccc
  +box-shadow(1px 1px 6px #ddd)
  padding: 1em

#timeline-container
  & > input
    width: 100%

#form-template-container
  display: none

.event-item
  margin-bottom: 0.5em

  &.disabled
    +box-shadow(none)

    &:hover
      +box-shadow(none)

    a
      cursor: default

  a
    display: block
    padding: 1em
    text-decoration: none
    @extend .draggable

  &:hover
    +box-shadow(2px 2px 10px #aaa)
