@import bootstrap/mixins

.medium-editor-placeholder
  min-height: 1em

.slider-selection
  background-image: linear-gradient(to bottom, #88f, #aaf)

.slider-handle
  border: 3px solid white
  +box-shadow(0 2px 3px rgba(0,0,0,0.8))
  opacity: 1

.generic-list-item
  background-color: #f5f5f5
  border: 1px solid #e0e0e0
  +box-shadow(1px 1px 6px #ddd)

  &:hover
    background-color: white

.draggable
  cursor: grab
  cursor: -moz-grab
  cursor: -webkit-grab

  &:active
    cursor: grabbing
    cursor: -moz-grabbing
    cursor: -webkit-grabbing

.generic-list-base
  & > ul.main-list
    margin-top: 1em

    li
      @extend .generic-list-item

      & > div.pull-left
        margin-right: 1em

        & > div
          overflow: hidden

        & + div p
          font-size: smaller

      img
        max-width: 160px
        float: left

      & > a
        overflow: hidden
