// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/
@import generic

#profile-card
  background: rgba(255,255,255,0.5)
  padding: 10px

  & > div.pull-left
    margin-right: 10px

  & > div
    overflow: hidden

#course-list, #tutor-list
  @extend .generic-list-base

#chapter-list
  @extend .generic-list-base
  & > ul.main-list li img
    width: 100%
    max-width: 100%
    float: none

#completed-courses, #incomplete-courses
  @extend .generic-list-base

  .main-list li
    padding: 1em

    a:first-child
      display: block
      width: 100%
      height: 100%

      &:hover
        text-decoration: none

#completed-courses
  .main-list li
    padding-right: 4em
    position: relative

    & > a + a
      position: absolute
      top: 0.5em
      right: 0.5em
      border-radius: 2em
