// Place all the styles related to the landing_page controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

@import mixin, bootstrap/mixins

#students
  position: absolute
  color: white
  top: 1em
  right: 1em
  background: transpanent
  text-transform: uppercase
  border: 1px solid #aaa

p.headline
  color: white
  font-size: 5em
  line-height: 0.6em

  span
    display: block
  strong
    font-size: 0.4em

#forms
  padding-top: 2em

  form
    text-align: center
    margin-bottom: 2.5em

    input[type='email'], input[type='text']
      background-color: rgba(255,255,255,0.2)
      color: white
      height: auto

    input,button
      border-radius: 0
      font-size: 20px
      padding: 12px 16px

      &[type='submit']
        line-height: normal
        font-size: 2em
        padding: 0.75em 1.25em

#landing-page-content
  margin: 0 auto
  position: relative
  float: none
  text-align: center
  color: white

  .modal-dialog
    color: black

  #logo
    background: image-url("picct-small.png") no-repeat center center
    height: 254px

  .nav > li > a
    color: #ccc

    &:hover, &:focus
      background: transparent
      color: white

ul.social-links
  li
    a
      background: black
      padding: 0

      img
        display: block
        +transition(all 0.5s linear)

    &:hover img
      opacity: 0.4

#thank-you-page-content
  color: black
  text-shadow: 1px 1px 2px #777
  padding-bottom: 1em

  h1
    padding-top: 1em

  p
    font-size: 2em
    line-height: 1.5em
    margin-top: 2em

#new-session
  padding: 1em 0
  font-weight: bold

@media screen and (max-width: 640px)
  body
    font-size: 10px

    &.landing-page
      background: image-url("landingpage-640.jpg") no-repeat center center fixed
      -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/landingpage-640.jpg', sizingMethod='scale')"
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/landingpage-640.jpg', sizingMethod='scale')

    .form-control
      +box-shadow(none)

      &:focus
        +box-shadow(none)

    .nav
      font-size: 16px

    #landing-page-content
      #logo
        height: 220px
        margin-bottom: 40px


@media screen and (min-height: 428px)
  body.landing-page
    background-image: image-url("landingpage.jpg")


@media screen and (max-width: 480px)
  body
    font-size: 8px


@media screen and (max-width: 320px)
  body.landing-page
    font-family: MuseoSans500
    background: image-url("landingpage-320.jpg") no-repeat center center fixed
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/landingpage-320.jpg', sizingMethod='scale')"
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/landingpage-320.jpg', sizingMethod='scale')


@media screen and (min-height: 215px) and (max-height: 455px)
  body.landing-page
    background-image: image-url("landingpage-640.jpg")
