@keyframes loadingStart
  0%
    opacity: 0
  100%
    opacity: 1

@-webkit-keyframes rotation
  from
    -webkit-transform: rotate(0deg)
  to
    -webkit-transform: rotate(359deg)

@-moz-keyframes rotation
  from
    -moz-transform: rotate(0deg)
  to
    -moz-transform: rotate(359deg)

@-o-keyframes rotation
  from
    -o-transform: rotate(0deg)
  to
    -o-transform: rotate(359deg)

@keyframes rotation
  from
    transform: rotate(0deg)
  to
    transform: rotate(359deg)

.loading
  position: relative
  pointer-events: none

  .loading-overlay
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    -webkit-animation: loadingStart 1s 300ms linear 1 both
    -moz-animation: loadingStart 1s 300ms linear 1 both
    -o-animation: loadingStart 1s 300ms linear 1 both
    animation: loadingStart 1s 300ms linear 1 both
    background: rgba(0, 0, 0, 0.1)
    text-align: center
    z-index: 32768

  .loading-text
    font-size: 0.875rem
    line-height: 1.3125rem
    text-shadow: white 0 0 1em, white 0 0 0.5em, white 0 0 0.25em
    position: relative
    display: block
    text-transform: uppercase
    font-weight: bold

  .loading-spinner
    position: absolute
    top: 50%
    bottom: 0
    left: 0
    right: 0
    color: #1a1d1d
    text-align: center

  .loading-icon
    display: inline-block
    width: 32px
    height: 32px
    margin-top: -16px
    position: relative
    -webkit-animation: rotation 1.6s infinite linear
    -moz-animation: rotation 1.6s infinite linear
    -o-animation: rotation 1.6s infinite linear
    animation: rotation 1.6s infinite linear
    border-left: 6px solid rgba(0,0,0,.2)
    border-top: 6px solid rgba(0,0,0,.4)
    border-right: 6px solid rgba(0,0,0,.6)
    border-bottom: 6px solid rgba(0,0,0,.8)
    border-radius: 100%
