=border-radius($radius...)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  border-radius: $radius

=text-shadow($x, $y, $blur, $color)
  text-shadow: $x $y $blur $color
  filter: dropshadow(color=#{$color}, offx=#{$x}, offy=#{$y})

=transition($tr)
  -webkit-transition: $tr
  -moz-transition: $tr
  -o-transition: $tr
  transition: $tr

=background-size($sz)
  -webkit-background-size: $sz
  -moz-background-size: $sz
  -o-background-size: $sz
  background-size: $sz

=link-with-hover($color)
  color: $color
  transition: color 1s

  &:hover
    color: darken($color, 20%)