@import bootstrap/_mixins

.event-notifier
  background: image-url("round-arrow.png") no-repeat center center
  position: absolute
  width: 64px
  height: 64px
  z-index: 32768
  background-size: cover

.popcorn-container
  position: relative

.popcorn-footnote
  +transition(none)
  position: absolute
  z-index: 32768
  width: 48px
  height: 48px
  background: image-url("question-mark.png") no-repeat center center
