#users
  td.actions
    width: 1%

#user-info
  img
    width: 32px
    height: 32px
    margin: -1em 0.5em

#avatar-uploader
  div.user_avatar
    display: none

  .image-preview
    img
      max-width: 256px

  #cropped-preview
    float: left
    padding: 10px
    text-align: center

    canvas, img
      display: block
      width: 128px
      height: 128px

    button[type=submit]
      display: block
      width: 100%
      margin: 10px 0

    .progress
      display: none

.avatar-with-score
  position: relative

  strong
    position: absolute
    bottom: 0
    left: 0
    background-color: rgba(0,0,0,0.3)
    color: white
    padding: 0 0.2em
