@import mixin, bootstrap/_mixins

.video-js
  padding-top: 56.25%

.vjs-fullscreen
  padding-top: 0

.vjs-default-skin
  &.vjs-big-play-centered
    .vjs-big-play-button
      margin-top: -1.3em
      margin-left: -1.3em

  .vjs-big-play-button
    width: 2.6em
    +border-radius(1.3em)

    &:before
      line-height: 2.5em
      padding-left: 0.1em

.vjs-default-skin:hover .vjs-big-play-button,
.vjs-default-skin .vjs-big-play-button:focus
  +box-shadow(none)
