<div class="<%= dom_id(@user) %>">
  <h5><%= @user.email %></h5>
  <p class="text-muted">
    <i><%= "#{t("activerecord.attributes.user.created_at")}: #{l(@user.created_at, format: "%e %b %Y at %I:%M %p")}" %></i>
  </p>
  <p>
    <span class="text-muted"><%= t("activerecord.attributes.user.roles") + ": " %></span>
    <%= @user.roles.map { |r| t("role.#{r.name}") }.join(", ") %>
  </p>

  <% if @user.website.present? %>
    <p>
      <span class="text-muted"><%= t("activerecord.attributes.user.website") + ": " %></span>
      <%= link_to @user.website, @user.website, target: "_blank" %>
    </p>
  <% end %>
</div>