<div id="users-list" data-overlay="true">
  <%= label_tag :pending, class: "checkbox" do %>
    <%= check_box_tag :pending, nil, params[:pending] %>
    <%= t("user.sort.pending") %>
  <% end %>

  <%= hidden_field_tag :sort, sort_attr %>
  <%= hidden_field_tag :direction, sort_direction %>

  <div class="clearfix"></div>

  <table id="users" class="table table-hover">
    <thead>
      <tr>
        <% %w{ email created_at }.each do |field| %>
          <th>
            <%= link_to admin_users_path(page: params[:page], per: params[:per_page],
                                         sort_attr: field, sort_direction: (sort_attr == field) ? invert_sort_direction : sort_direction,
                                         search: params[:search], pending: params[:pending]), class: "submit" do %>
              <%= t("user.sort.#{field}") %>

              <% if sort_attr == field %>
                &nbsp;
                <%= fa_icon( (sort_direction == "asc") ? "angle-down" : "angle-up" ) %>
              <% end %>
            <% end %>
          </th>
        <% end %>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <%= render @users %>
    </tbody>
  </table>

  <%= paginate @users, remote: true %>
</div>