<tr id="<%= dom_id(user) %>" class="<%= "pending " unless user.approved? %> <%= dom_id(user) %>">
  <td class="email">
    <%= link_to user.email, "#user-details", class: "remote",
                data: { ajax_target: "#user-details", source: admin_user_path(user) } %>
  </td>

  <td> <%= l user.created_at, format: "%e %b %Y" %> </td>

  <td class="user-actions approve">
    <% if can?(:update, user) && !user.approved? %>
      <%= link_to approve_admin_user_path(user), method: :put, remote: true, title: t(".approve") do %>
        <%= fa_icon "thumbs-up" %>
      <% end %>
    <% end %>
  </td>

  <td class="user-actions destroy">
    <% if can? :destroy, user %>
      <%= link_to admin_user_path(user), class: "close", method: :delete,
                  remote: true, data: { confirm: t("confirm_delete", scope: "user") } do %>
        <%= fa_icon "times" %>
      <% end %>
    <% end %>
  </td>
</tr>