<div class="col-sm-7">
  <%= form_tag admin_users_path, id: "admin-users-filter" do %>
    <div class="form-group"></div>
    <div class="form-group">
      <%= text_field_tag :search, params[:search], id: "email-search", class: "form-control",
                         placeholder: t("user.search") %>
    </div>

    <div class="clearfix"></div>

    <%= render "user_list" %>
  <% end %>
</div>

<div class="col-sm-5 scrolltofixed">
  <div id="user-details">
    <div class="alert alert-info"><%= t(".show_details") %></div>
  </div>
</div>