videojs.options.flash.swf = "<%= asset_path('video-js.swf') %>"
window.production = <%= !Rails.env.development? %>

<% if ENV["S3_BUCKET_NAME"] %>
window.s3_bucket = '<%= ENV["S3_BUCKET_NAME"] %>'
<% end %>