<div id="course-list" data-overlay="true">
  <table class="table table-hover">
    <thead>
      <tr>
        <% %w{ title author created_at }.each do |field| %>
          <th>
            <%= link_to admin_courses_path(page: params[:page], per: params[:per_page],
                                           sort_attr: field,
                                           sort_direction: (params[:sort_attr] == field) ? invert_sort_direction : sort_direction,
                                           search: params[:q]), class: "submit" do %>
              <%= t("course.sort.#{field}") %>

              <% if params[:sort_attr] == field %>
                &nbsp;
                <%= fa_icon( (sort_direction == "asc") ? "angle-down" : "angle-up" ) %>
              <% end %>
            <% end %>
          </th>
        <% end %>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= render @courses %>
    </tbody>
  </table>

  <%= paginate @courses, remote: true %>
</div>