<tr id="<%= dom_id(course) %>">
  <td><%= link_to course, edit_admin_course_path(course) %></td>
  <td><%= course.author %></td>
  <td><%= l(course.created_at, format: "%e %b %Y") %></td>
  <td>
    <%= link_to admin_course_path(course), class: "close", method: :delete,
                remote: true, data: { confirm: t("confirm_delete", scope: "course") } do %>
      <%= fa_icon "times" %>
    <% end %>
  </td>
</tr>