<%= search_form_for @search, url: admin_courses_path, html: { class: "form-horizontal" } do |f| %>
  <div class="form-group">
    <%= f.label :title_cont, t("activerecord.attributes.course.title"), class: "control-label col-sm-2 sr-only" %>
    <div class="col-sm-8 col-md-6">
      <%= f.text_field :title_cont, class: "form-control col-sm-8", placeholder: t("activerecord.attributes.course.title") %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :author_email_or_author_name_cont, t("activerecord.attributes.course.author"),
                class: "control-label col-sm-2 sr-only" %>
    <div class="col-sm-8 col-md-6">
      <%= f.text_field :author_email_or_author_name_cont, placeholder: t(".author"), class: "form-control" %>
    </div>
  </div>

  <%= f.submit class: "btn btn-default" %>

  <hr>

  <%= render "course_list" %>
<% end %>