<% classes = { notice: "alert alert-success", error: "alert alert-danger", warning: "alert alert-warning", alert: "alert alert-warning" } %>

<div id="flash">
  <% flash.each do |name, msg| %>
    <div class="<%= classes[name] %> alert-dismissable">
      <a class="close" data-dismiss="alert"><%= fa_icon "times" %></a>
      <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    </div>
  <% end %>
</div>