<div class="navbar-header">
  <%= link_to t("navigation.home"), root_path, class: "navbar-brand" %>

  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
    <span class="sr-only"><%= t("navigation.toggle") %></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>

<div id="navbar-collapse-1" class="collapse navbar-collapse">
  <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
      <% if current_user.has_role?(:admin) %>
        <li>
          <%= link_to t('navigation.admin_panel'), admin_root_path %>
        </li>
      <% end %>
      <li id="user-info" class="dropdown">
        <a id="profile" class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
          <%= image_tag current_user.avatar.small %>
          <%= current_user.email %><b class="caret"></b>
        </a>
        <ul class="dropdown-menu pull-right" aria-labelledby="profile" role="menu">
          <li><%= link_to t('navigation.my_account'), edit_user_registration_path %></li>
          <li class="divider"></li>
          <li><%= link_to t("navigation.courses"), courses_path %></li>
          <li><%= link_to t("navigation.tutors"), tutors_path %></li>
          <li class="divider"></li>
          <li><%= link_to t('navigation.logout'), destroy_user_session_path, method: 'delete' %></li>
        </ul>
      </li>
    <% else %>
      <li>
        <%= link_to(t('navigation.sign_in'), new_user_session_path) %>
      </li>
    <% end %>
  </ul>
</div>
