<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "picct.me" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|Poly:400,400italic|Lily+Script+One' rel='stylesheet' type='text/css'>
    <%= yield :head_before %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= i18n_js %>
    <%= yield :head_after %>
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <%= render 'layouts/navigation' %>
    </nav>

    <div id="main" role="main">
      <%= yield :admin_nav %>

      <div class="container">
        <div class="row">
          <%= render 'layouts/messages' %>

          <div id="content-wrapper" class="col-md-12">
            <%= yield :home if user_signed_in? %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div> <!--! end of #main -->

    <footer>
    </footer>

  </body>
</html>
