<% content_for :home do %>
  <div class="row-fluid">
    <div class="center-block">
      <div id="profile-card" class="clearfix">
        <div class="pull-left">
          <%= image_tag current_user.avatar, alt: current_user.display_name %>
          <h3 class="text-center text-muted"><%= current_user.score %></h3>
        </div>

        <div>
          <h3><%= current_user.display_name %></h3>

          <% if current_user.bio.present? %>
            <p><%= current_user.bio %></p>
          <% else %>
            <p class="text-muted"><%= t(".empty_bio") %></p>
          <% end %>

          <%= link_to t(".edit_profile"), edit_user_registration_path, class: "btn btn-default" %>
        </div>

      </div>
    </div>
  </div>
  <div class="top-2"></div>

  <div class="center-block">
    <div class="text-center">
      <% if can?(:create, Course) %>
        <%= link_to t(".create_course"), new_course_path, class: "btn btn-primary btn-lg" %>
      <% end %>

      <% if can?(:create, Essay) %>
        <%= link_to t(".create_essay"), new_essay_path(author_id: current_user.id), class: "btn btn-primary btn-lg" %>
      <% end %>
    </div>
  </div>

  <div class="row-fluid">
    <ul class="nav nav-tabs">
      <li class="<%= "active" if params[:controller] == "enrolments" %>">
        <%= link_to t(".enrolments"), enrolments_path %>
      </li>

      <% if can?(:create, Course) %>
        <li class="<%= "active" if params[:controller] == "authored_courses" %>">
          <%= link_to t(".authored"), authored_courses_path %>
        </li>
      <% end %>

      <li class="<%= "active" if params[:controller] == "score_activities" %>">
        <%= link_to t(".score"), user_score_activities_path(user_id: current_user.id) %>
      </li>
    </ul>
  </div>
<% end %>

<%= render template: "layouts/application" %>