<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= yield :fb_og_tags %>
    <title>picct.me</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= i18n_js %>
  </head>

  <body class="landing-page">
    <div class="container">
      <div class="row">
        <%= render 'layouts/messages' %>
      </div>
    </div>

    <div id="landing-page-content" class="col-md-10">
      <div id="logo"></div>

      <%= yield %>
    </div>
  </body>
</html>
