<%= simple_form_for @essay, html: { class: "form-horizontal" },
                      wrapper: :bootstrap3_horizontal, defaults: { right_column_html: { class: "col-sm-10" },
                      label_html: { class: "col-sm-2 sr-only" } } do |f| %>
  <% if current_user.has_role?(:admin) %>
    <%= f.association :author, as: :string, input_html: { class: "select2-field validate[required]" },
                      placeholder: t(".author"), data: { author: @essay.author && @essay.author.slice(:id, :name).to_json } %>
  <% else %>
    <%= f.association :author, as: :hidden, input_html: { value: current_user.id } %>
  <% end %>

  <%= f.input :title, placeholder: t(".title"), input_html: { class: "validate[required]" } %>
  <%= f.input :category_list, as: :string, placeholder: t(".categories"),
              input_html: { class: "select2-field", data: { tags: @essay.category_list.map {|i| { id: i, name: i}}.to_json} } %>
  <%= f.input :text, placeholder: t(".text"),
              input_html: { class: "validate[required]", rows: 8, data: { limit: Essay::WORD_LIMIT } } %>

  <%= f.submit t(".save"), class: "btn btn-success btn-lg" %>
<% end %>